<div class="row">
    <div class="col-sm-9">
        <h1>
            <i class="fas fa-<%= @listing[:buildtype].downcase%>"></i>
            <%= @listing[:title] %>
        </h1>
        <p> Building Type: <%= @listing[:buildtype] %></p>
        <p> Average Rent: <%= @listing[:avgrent] %></p>
        <p> Number of Rooms: <%= @listing[:rooms] %></p>
        
        <br> </br>
        
        <h2> Reviews: </h2>
        <% for count in @review %>

                <div class="media-body">
                    <h5 class="mt-0"><%= @users_table.where(id: @review[:user_id]).to_a[0][:name] %></h5>
                    <%= @review[:comments] %>
                </div>
            </div>
        <% end %>
               
        <p class="mt-5">
            <% if @current_user %>
                <a href="/listings/<%= @listing[:id] %>/reviews/new" class="btn btn-primary">RSVP now!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to RSVP</a>
            <% end %>
        </p>


    </div>
    <div class="col-sm-3">
        <h3>When?</h3>
        <p><%= @listing[:title] %></p>
        <h3>Where?</h3>
        <p><%= @listing[:location] %></p>
        <!-- <h3>How many guests so far?</h3>
        <p><%= @going_count %></p> -->
    </div>
</div>