<div class="row">
    <div class="col-sm-9">
        <h1>
            <i class="fas fa-<%= @listing[:buildtype].downcase%>"></i>
            <%= @listing[:title] %>
        </h1>
        <p> Building Type: <%= @listing[:buildtype] %></p>
        <p> Average Rent: $<%= @listing[:avgrent] %></p>
        <p> Number of Rooms: <%= @listing[:rooms] %></p>
        


        <% ratingcount = 0 %>
        <% ratingsum = 0 %>

        <% for count in @review %>
            <% ratingsum = count[:rating] + ratingsum %>
            <% ratingcount = ratingcount + 1 %>
        <% end %>

        <% puts ratingsum %>
        <% puts ratingcount %>
        

        <% if ratingcount > 0 %>
            <% ratingavg = ratingsum/ratingcount %>
        <% else %>
            <% ratingavg = 0 %>
        <% end %>
        <p> <strong>Average Rating: <%= ratingavg %></strong></p>
                

        
        <br> </br>
        
        <h2> Reviews: </h2>
        <% for count in @review %>
            <br> </br>
            <div class="media">
                    <%puts count[:rating]%>
                    <% if count[:rating] == 1.0 || count[:rating] == 2.0 %>
                            <i class="far fa-frown-open fa-3x mr-3"></i>
                        <% elsif count[:rating] == 3.0 %>
                            <i class="far fa-meh fa-3x mr-3"></i>
                        <% elsif count[:rating] == 4.0 || count[:rating] == 5.0 %>
                            <i class="far fa-smile-wink fa-3x mr-3"></i>
                        <% else %>
                            <i class="fas fa-bomb fa-3x mr-3"></i>
                    <% end %>
                <div class="media-body">
                    <h5 class="mt-0"><%= @users_table.where(id: count[:user_id]).to_a[0][:name] %>, <%= count[:rating]%></h5>
                    <%= count[:comments] %>
                </div>
            </div>
        <% end %>
               
        <p class="mt-5">
            <% if @current_user %>
                <a href="/listings/<%= @listing[:id] %>/reviews/new" class="btn btn-primary">Leave a Review!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to review</a>
            <% end %>
        </p>


    </div>
    <div class="col-sm-3">

        <p><%= @listing[:location] %></p>
        <% @lat = 0.0 %>
        <% @long = 0.0 %>
          
        <% @location_ind = @listing[:location] %>
        <% @results = Geocoder.search(@listing[:location]) %> 
        <% @lat_long = @results.first.coordinates %> 
        <% puts @lat_long %>
        <% @lat = @lat_long[0] %>
        <% @long = @lat_long[1] %>

      <iframe
        width="400"
        height="300"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw&q=<%= @lat %>,<%=@long%>&zoom=14" allowfullscreen>
      </iframe>

    </div>
</div>