<div class="row">
    <div class="col-sm-9">
        <h2>
            <i class="far fa-calendar-alt"></i>
            <%= @listing[:title] %>
        </h2>
        <h1><%= @listing[:title] %></h1>
        <p><%= @listing[:title] %></p>

    </div>
    <div class="col-sm-3">
        <h3>When?</h3>
        <p><%= @listing[:title] %></p>
        <h3>Where?</h3>
        <p><%= @listing[:location] %></p>
        <!-- <h3>How many guests so far?</h3>
        <p><%= @going_count %></p> -->
    </div>
</div>