<div class="row">
    <div class="col-sm-9">
        <h1>
            <i class="fas fa-<%= @listing[:buildtype].downcase%>"></i>
            <%= @listing[:title] %>
        </h1>
        <p> Building Type: <%= @listing[:buildtype] %></p>
        <p> Average Rent: <%= @listing[:avgrent] %></p>
        <p> Number of Rooms: <%= @listing[:rooms] %></p>
        
        <br> </br>
        
        <h2> Reviews: </h2>
        <% for review in @review %>
            <div class="media">
                <% if rsvp[:going] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0"><%= @users_table.where(id: rsvp[:user_id]).to_a[0][:name] %></h5>
                    <%= rsvp[:comments] %>
                </div>
            </div>        


    </div>
    <div class="col-sm-3">
        <h3>When?</h3>
        <p><%= @listing[:title] %></p>
        <h3>Where?</h3>
        <p><%= @listing[:location] %></p>
        <!-- <h3>How many guests so far?</h3>
        <p><%= @going_count %></p> -->
    </div>
</div>